---
import Layout from '@/layouts/Layout.astro';
import Countdown from '@/sections/Countdown.astro';
import Footer from '@/sections/Footer.astro';
import Hero from '@/sections/Hero.astro';
import PrincipalData from '@/sections/PrincipalData.astro';
---

<Layout title="Rank King">
	<Hero/>
	<main>
		<h1 class=" text-white animate-blurred-fade-in"> Rank King </h1>
		<p>

		</p>
	</main>
</Layout>

<style>
	
</style>
