<section class="">
    <div class=" flex w-full    " >
        
    </div>
    <div>
        LIGA DEL CERDO
    </div>
</section>
<style>
 .circle-container {
  width: 200px;
  height: 200px;
  background-color: lightblue;
  border-radius: 50%;
  position: relative;
}

.circle-text {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: 200px;
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
  shape-outside: circle(50%); /* Esta línea hace que el texto siga el borde del círculo */
}
</style>